<title>My application deployed automatically</title>

<h1>List compare and check value is bigger than mean of list</h1>

Result is {{result}}


<form action="compute" method="post">
    <p>Please enter numbers between 0-99:center</p>
    <textarea name="input1" rows="10" cols="15"></textarea>
    <p>Please enter numbers between 0-99:center</p>
    <textarea name="input2" rows="10" cols="15"></textarea>
    <p>Please enter number between for value which is will compare to mean:center</p>
    <textarea name="input3" rows="10" cols="15"></textarea>
    <br>
    <input type="submit">
</form>
